
__pycache__/mask_face.cpython-310.pyc
__pycache__/clustering.cpython-310.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/deepface.iml
.idea/csv-editor.xml
*.pyc
